#projetos {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;

  padding-block: 72px;

  gap: 56px;

  #title-projetos{
    gap: 8px; 
    
    p:nth-child(1){
      font: var(--subtitle);
      color: var(--red);
    }

    p:nth-child(2){
      font: var(--title-md);
    }
  } 

  #grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);

    gap: 24px;

    #project-card{
      display: flex;
      flex-direction: column;
      width: 330px;
      height: 280px;
      background-color: var(--gray-300);
      border: 1px solid var(--gray-300);
      border-radius: 12px;
      text-align: left;
      gap: 12px;

      padding: 12px;

      &:hover {
        border-color: var(--gray-400);
      }

      img {
        width: 306px;
        height: 156px;
        border-radius: 8px;

        object-fit: cover;
      }

      p:nth-child(2){
        font: var(--title-sm);
      }
    }
  }

}